
{{groups['k8s_control_planes'][0]}} k8s-control-plane-1
{{groups['k8s_control_planes'][1]}} k8s-control-plane-2
{{groups['k8s_control_planes'][2]}} k8s-control-plane-3
{{groups['k8s_worker_nodes'][0]}} k8s-worker-node-1
{{groups['k8s_worker_nodes'][1]}} k8s-worker-node-1
{{groups['k8s_worker_nodes'][2]}} k8s-worker-node-1